
@section Css
{
    <title>Steam&Rockstar guide</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
}

<div class="guide-content-section">
    <div class="guide-content">
        <div class="guide-text">
            <p>
                <span class="g-num">1.</span> @localizer["one"]
            </p>
        </div>
        <div class="guide-text">
            <p>
                <span class="g-num">2. </span> @localizer["two"]
            </p>
        </div>
        <div class="guide-text">
            <p>
                <span class="g-num">3.</span> @localizer["three"]
            </p>
        </div>
        <div class="guide-image g-half">
            <a>
                <img src="/static/img/guide/Epic1.jpg" alt="">
            </a>
        </div>
        <div class="guide-image">
            <a>
                <img src="/static/img/guide/epic2.jpg" alt="">
            </a>
        </div>
        <div class="guide-image">
            <a>
                <img src="/static/img/guide/epic3.jpg" alt="">
            </a>
        </div>
    </div>
</div>