@model CameraPerspectiveModel

@{
    Layout = "_AdminLayout";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Camera Perspective Create</h4>
            <form class="form-sample" asp-controller="Admin" asp-action="CameraPerspectiveCreate" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="CameraPerspevtiveName" class="col-sm-3 col-form-label">Camera Perspective Name</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="CameraPerspevtiveName" class="form-control" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="IsApproved" class="col-sm-3 col-form-label">IsApproved</label>
                            <div class="col-sm-9">
                                <select asp-for="IsApproved" class="form-control">
                                    <option value="true" selected>True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>