@model InstructionPanelModel

@{
    Layout = "_AdminLayout";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Instruction Panel(Add) Edit</h4>
            <form class="form-sample" asp-controller="Admin" asp-action="InstructionPanelEdit" method="post" enctype="multipart/form-data">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Text" class="col-sm-3 col-form-label">Text</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Text" value="@Model.Text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="IsApproved" class="col-sm-3 col-form-label">IsApproved</label>
                            <div class="col-sm-9">
                                <select asp-for="IsApproved" class="form-control">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Product" class="col-sm-3 col-form-label">Product</label>
                            <div class="col-sm-9">
                                <select asp-for="Product" class="form-control">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="POG" class="col-sm-3 col-form-label">Product Of Gamer</label>
                            <div class="col-sm-9">
                                <select asp-for="POG" class="form-control">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ImgTitle">Image Title</label>
                            <input type="hidden" asp-for="ImgTitle" />
                            <img src="/static/img/instructionpanel/@Model.ImgTitle" width="150" alt="Xəta baş verdi" />
                            <input type="file" name="file1" class="form-control" />
                            <span asp-validation-for="ImgTitle" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Img">Image</label>
                            <input type="hidden" asp-for="Img" />
                            <img src="/static/img/instructionpanel/@Model.Img" width="150" alt="Xəta baş verdi" />
                            <input type="file" name="file" class="form-control" />
                            <span asp-validation-for="Img" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>