@model LanguageModel

@{
    Layout = "_AdminLayout";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Language Edit</h4>
            <form class="form-sample" asp-controller="Admin" asp-action="LanguageEdit" method="post">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="LanguageName" class="col-sm-3 col-form-label">Language Name</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="LanguageName" value="@Model.LanguageName" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="IsApproved" class="col-sm-3 col-form-label">IsApproved</label>
                            <div class="col-sm-9">
                                <select asp-for="IsApproved" class="form-control">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="LanguageIcon" class="col-sm-3 col-form-label">Language Icon</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="LanguageIcon" value="@Model.LanguageIcon" class="form-control" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="LanguageTag" class="col-sm-3 col-form-label">Language Tag</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="LanguageTag" value="@Model.LanguageTag" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>