@model LanguageTextModel

@{
    Layout = "_AdminLayout";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Language Text Create</h4>
            <form class="form-sample" asp-controller="Admin" asp-action="LanguageTextCreate" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="ProductId" class="col-sm-3 col-form-label">Product</label>
                            <div class="col-sm-9">
                                <select asp-for="ProductId" class="form-control">
                                    <option selected>Select</option>
                                    @foreach (var u in Model.Pros)
                                    {
                                        <option value="@u.Id">@u.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="IsApproved" class="col-sm-3 col-form-label">IsApproved</label>
                            <div class="col-sm-9">
                                <select asp-for="IsApproved" class="form-control">
                                    <option value="true" selected>True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="LaguageId" class="col-sm-3 col-form-label">Laguage</label>
                            <div class="col-sm-9">
                                <select asp-for="LaguageId" class="form-control">
                                    <option selected>Select</option>
                                    @foreach (var u in Model.Lans)
                                    {
                                        <option value="@u.Id">@u.LanguageName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Text" class="col-sm-3 col-form-label">Text</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>