@model PublisherListViewModel

@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Publisher Table</h4>
                <p class="card-description">
                    <a asp-controller="Admin" asp-action="PublisherCreate" class="btn btn-outline-primary btn-fw">Create</a>
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:60px;"> ID </th>
                                <th style="width:200px;"> Image </th>
                                <th> Publisher </th>
                                <th style="width:200px;"> Background Image </th>
                                <th> IsApproved </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Pubs.Count() > 0)
                            {
                                @foreach (var ac in Model.Pubs)
                                {
                                    <tr>
                                        <td>@ac.Id</td>
                                        <td><img src="/static/img/publisher/@ac.Img" alt="Xəta baş verdi" width="150" /></td>
                                        <td>@ac.PublisherName</td>
                                        <td><img src="/static/img/publisher/@ac.Back_img" alt="Xəta baş verdi" width="150" /></td>
                                        <td>@ac.IsApproved</td>
                                        <td>
                                            <a href="/adminpanel/publisheredit/@ac.Id" class="btn btn-outline-info btn-fw">Edit</a>
                                            <form asp-controller="Admin" asp-action="DeletePub" method="post" style="display:inline;">
                                                <input type="hidden" name="Id" value="@ac.Id" />
                                                <button type="submit" class="btn btn-outline-danger btn-fw">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-outline-info btn-fw">Nothing is here</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
