
@section Css
{
    <title>Support & How to play</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
}

<style>
    h4 {
        color: #fff;
    }

    .title {
        color: #008763;
    }

    a {
        text-decoration: none;
        color: #fff;
    }
</style>
<div class="guide-content-section">
    <div class="guide-content">
        <h4><span class="title">Support</span> : official.playpoint@gmail.com</h4>
        <br />
        <br />
        <h4><span class="title">Steam Account</span> : <a class="links" target="_blank" href="https://playpoint.store/guide/steam">Go to link</a></h4>
        <br />
        <br />
        <h4><span class="title">Steam/Rockstar Account</span> : <a class="links" target="_blank" href="https://playpoint.store/guide/steamwrockstar">Go to link</a></h4>
        <br />
        <br />
        <h4><span class="title">Uplay Account</span> : <a class="links" target="_blank" href="https://playpoint.store/guide/uplay">Go to link</a></h4>
        <br />
        <br />
        <h4><span class="title">Origin Account</span> : <a class="links" target="_blank" href="https://playpoint.store/guide/origin">Go to link</a></h4>
        <br />
        <br />
        <h4><span class="title">Epic Games Account</span> : <a class="links" target="_blank" href="https://playpoint.store/guide/epic">Go to link</a></h4>
        <br />
        <br />
        <h4><span class="title">Xbox Game Pass Account</span> : <a class="links" target="_blank" href="https://playpoint.store/guide/xbox">Go to link</a></h4>
    </div>
</div>