
@section Css
{
    <title>Access Denied</title>
}

<h2 class="h4" style="color:#fff">@localizer["dont"]</h2>


@section Scripts
{
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/jquery.migrate.js"></script>
}