
@section Css
{
    <title>Info</title>
}

<style>
    h4 {
        color: #fff;
    }

    .title {
        color: #008763;
    }
</style>
<div class="mail-confirm-content">
    <div class="mcc-section">
        <p>@localizer["message"]</p>
    </div>
    <div class="mcc-section">
        <h4><span class="title">@localizer["support"]</span> : official.playpoint@gmail.com</h4>
    </div>
</div>

@section Scripts
{
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.migrate.js"></script>
    <script src="/static/js/slick.min.js"></script>
}