@model FP

@section Css
{
    <title>Forgot Password</title>
}

@{
    Layout = "_LayoutLog-Reg";
}
<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="center-login-panel" style="background-image: url();">
        <div class="center-panel-content">
            <h4 class="logreg_title">@localizer["title"]</h4>
            <div class="form">
                <div class="pp_logreg-content">
                    <input class="pp_input pp_form-input" type="email" asp-for="Email" placeholder="@localizer["email"]">
                    <span asp-validation-for="Email"></span>
                </div>
                <input type="submit" class="pp_button pp_form-input" value="@localizer["submit"]">
            </div>
            <p class="notorhave">@localizer["log"]</p>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="/static/js/jquery.js"></script>

    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/static/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
