@model ResetPasswordModel

@section Css
{
    <title>Reset password</title>
}

<div class="password-reset-content">
    <div class="prc-section">
        <div class="edit-profile-content-section">
            <form asp-controller="Account" asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="Token" />
                <input type="hidden" asp-for="userId" />
                <input type="hidden" asp-for="Email" />
                <div class="epcs-item">
                    <label asp-validation-for="Password" class="epcs-item-label">@localizer["password"]</label>
                    <input id="newpass" type="password" onkeyup='newpasscheck();' asp-for="Password" class="pp_input epcs-item-input" required>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="epcs-item">
                    <label asp-validation-for="RePassword" class="epcs-item-label">@localizer["repassword"]</label>
                    <input id="newpassconfirm" type="password" onkeyup='newpasscheck();' asp-for="RePassword" class="pp_input epcs-item-input" required>
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                    <p id="passwordmatch" class="epcs-item-info">  </p>
                </div>
                <button id="newpassconfirmbtn" class="pp_button epcs-item-button" disabled>@localizer["update"]</button>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="/static/js/jquery.js"></script>

    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/static/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="/static/js/jquery.migrate.js"></script>
    <script src="/static/js/slick.min.js"></script>
}