<div class="card m-3">
    <div class="card-header">
        <h5>Axtarış</h5>
    </div>
    <div class="card-body">
        <form asp-controller="Game" asp-action="Search" method="post">
            <div class="form-group">
                <input type="text" name="q" class="form-control" placeholder="Axtar" />
            </div>
            <button type="submit" class="btn btn-outline-info btn-sm mt-2">Axtar</button>
        </form>
    </div>
</div>